/* Theming */
html {background: var(--grey)}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --green: #02b345;
    --black: #070304;
    --grey: #36383F;
    --lgreen:  #e1edbd;
}
/* Reset */
*{ 
    margin: auto;
    padding: 0;
    box-sizing:  border-box;
    max-width: 1500px;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--lgreen);
    background: linear-gradient(var(--black)35%,var(--grey)50%);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color:transparent;
    box-shadow: none;
    position: relative ;
    top: 0;
    width: 100%;
}

/* headerLogo */
#headerlogo{ height: 150px;
    margin-left: 2%;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(135deg,var(--grey),var(--black)60%)
    
}

.menu a,.menu p{
    display: block;
    padding: 30px;
    color: var(--green);
    margin-top: 25px;

}

.menu a:hover{
    background-color: var(--black);
    width: 60%;
    margin-left: 20%;
    border-radius: 9px;
    text-align: center;
    color: var(--lgreen);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Sub nav */
.subnav-content {
    width: 70%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
    border-radius: 9px;
    margin-left: 15%;
    background: linear-gradient(var(--green),var(--lgreen))

  }
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav:hover .subnav-content {
    display: block;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--green);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    margin-top: 30px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--green);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness */

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--lgreen);
       
        
    }
    
    .hamb{
        display: none;
    }

        /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        border-radius: 9px;
        background: linear-gradient(var(--black),var(--green));
    }

    .subnav-content a {
        color:var(--lgreen);
    }
    .subnav-content a:hover {color: var(--black);}
}
/*video*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body{
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

h1{
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.video-container{
  width: 100vw;
  height: 100vh;
}

 iframe {
  position: relative;
  margin-top: 360px;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
   border: none;
}

#text{
  position:relative ;
  color: #FFFFFF;
  margin-top: -450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}

#homemain {margin-top:520px; border: none;}
/*footer*/
#footerlogo {height: 100px;}

